{% extends "layouts/base.html.twig" %}

{% block body %}
<style>
.titre{
    color:#F6AD55
}
</style>

  <div class="container"> 
  <div class="row">
  <div class="col-4">
     <h3> Votre 08 en 3 étape </h3>
  </div>
  <div class="col-8">
    <h1 class="titre" >Le meilleur des numéros surtaxés en 08</h1>

    <img src="img/slide-1.jpg" alt="" style="width: 100%">
  </div>


  </div>
  </div>
{% endblock %}